{{!-- Form edit employee --}}
<div class="form-create-container">
    <a href="/manage">
        <button>Back</button>
    </a>
    <h2>Update Employee</h2>
    <form method="POST" action="/manage/{{employee._id}}/update?_method=PUT">
        <div class="form-create-group">
            <label for="name">Name:</label>
            <input name="name" value="{{employee.name}}" id="name" required>
        </div>
        <div class="form-create-group">
            <label for="identity-card">Identity Card:</label>
            <input name="identityCard" value="{{employee.identityCard}}" id="identityCard" required>
        </div>
        <div class="form-create-group">
            <label for="birth">Birth:</label>
            <input type="date" name="birth" value="{{employee.birth}}" id="birth" required>
        </div>
        <div class="form-create-group">
            <label for="salary">Salary:</label>
            <input type="number" name="salary" value="{{employee.salary}}" id="salary" required>
        </div>
        <div class="form-create-group">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>